*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    
}

.cabecalho {
    background-image: linear-gradient(#5B0604,#000000);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 5%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.title-equipe{
    font-size: 40px;
    text-align: center;
    padding-bottom: 5%;
    color: #FFFFFF;
}

.links{
    width:30%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: grid;
    text-align: right;
}
.fim {
    background-color: black;
    color: white;
    font-size: 9px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}
.fim-img {
    width: 5%;
}
.fim-texto {
    padding-left: 2%;
    width: 20%;
    text-align: justify;
}
.fim-info {
    justify-content: center;
    display: flex;
    align-items: center;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    color: #ED0C0C;
}

li.dropdown {
    display: inline-block;
    font-size: 20px;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20%;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;

}
.cabeçalho-lista-item {
    display: inline-block;
    font-size: 20px;
}
.texto-cabecalho{
    font-size: 23px;
}

#Trab1 {
    background-color:#5B0604;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#Trab2 {
    background-color:#490504;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#Trab3 {
    background-color: #5B0604;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.corpo-titulo{
    text-align: center;
}