*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    
}
@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
    }

.cabecalho {
    background-image: linear-gradient(#9F0FD1,#000000);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 5%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
.title-equipe{
    font-size: 40px;
    text-align: center;
    padding-bottom: 5%;
    color: #FFFFFF;
}

.links{
    width:30%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: grid;
    text-align: right;
}
.fim {
    display: grid;
    grid-template-columns: 50% 50% ;
    background-color: black;
    color: white;
    font-size: 9px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}
.fim-img {
    width: 5%;
}
.fim-texto {
    padding-left: 2%;
    width: 40%;
    text-align: justify;
}
.fim-info {
    display: flex;
    align-items: center;

}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    color: #A52DCE;
}

li.dropdown {
    display: grid;
    
    font-size: 20px;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #05132a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20%;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;

}
.cabeçalho-lista-item {
    display: inline-block;
    font-size: 20px;
}
.texto-cabecalho{
    font-size: 23px;
}

#Trab1 {
    background-color:#9F0FD1;
    color: black;
    align-items: center;
    padding: 20px 0;
    
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
    text-align: center;
    
}

#Trab2 {
    background-color:#720D95;
    color: black;
    align-items: center;
    padding: 20px 0;
    
    
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: center;
    text-align: center;
    
}

#Trab3 {
    background-color: #9F0FD1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.corpo-titulo{
    text-align: center;
}

.dropbtn-1 {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-1:hover .dropbtn-1 {
    color: #40E3D9;
}

.dropdown-1 {
    font-size: 20px;
}

.dropdown-content-1 {
    display: grid;
    grid-template-columns: 40% 60% ;
    display: none;
    position: absolute;
    top: 180%;
    background-color: #05132a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 1%;
    border-radius: 2%;
}

.dropdown-content-1 a {
    color: white;
}

.dropdown-1:hover .dropdown-content-1 {
    display: block;

}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #000000;
    max-width: 500px;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000066;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.slider{
    overflow: hidden;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.img_trab2{
    width: 50%;
}

.code-box {
    border: 1px solid #000;
    padding: 0%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    font-family: "Courier New", monospace;
    max-width: 1000px;
    margin: 0%;
    overflow-x: auto;
    text-align: left;
    justify-items: center;
    max-height: 600px; /* Define o limite de altura */
    margin: 0 auto;
    overflow-y: auto;
}


